.categories{
    height: 10rem;
    width: 8rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: $lightGray;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    
    h3 {
        padding-left: 1.5rem;
    }


    img{
        width: 2rem;
    }
}

.categories:hover {
    height: 13rem;
    width: 11rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #aaaaaa;
}

#categories-div {
    height: 13rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 3rem;
}