.navigation {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: rgba(225, 225, 225, .9);
    padding-top: 0;
    font-size: 0.8rem;
}

.headerlinks {
    display: flex;
    gap: 2rem;
    padding-left: 4rem;
}

.brand {
    display: flex;
    gap: 0.5rem;
}

.logandsign {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    gap: 2rem;
    border-left: solid;
    border-color: $deepGray;
    border-width: 2px;
}

.searchbar {
    position: relative;
    background-repeat:no-repeat;
    background-position:right center;outline:0; 

    &--left-icon {
        width: 0.6rem;
        position: absolute;
        transform: translate(-11.5rem, 50%);
    }

    &--right-icon {
        width: 0.6rem;
        position: absolute;
        transform: translate(-2.5rem, 50%);
        padding-left: 1rem;
        border-left: solid;
        border-color: $deepGray;
        border-width: 2px;

    }

    &--notification {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-5%, -50%);
        font-size: 0.5rem;
        color: #fff;
        background-color: $strongRed;
        border-radius: 1rem;
        padding: 0.2rem 0.4rem;
    }


}